# Sequences, Sorting, and Sets!

Taking lists or collections of things and doing useful stuff with 'em

In [6]:
def newton_method(desired_num):
    #desired_num = float(input("what number to find square root?   only use positive numbers!! "))
    guess = 1
    count = 0
    epsilon = 0.000000001
#     while (count > 0):
    while abs(guess * guess - desired_num) > epsilon:
      new_guess = ((desired_num / guess) + guess) * .5
      guess = new_guess
      count += 1
    print(count)
    return guess

newton_method(25)

6

5.000000000053722

In [7]:
5.000000000053722**2

25.000000000537224

# Git Workflow

1. Have a **repository**

A repository is a folder where you will save a project

Changes must be **staged**, **committed**, and **pushed** to save thtem to github.com

`git init` - initializes an empty repository, creates a .git folder

`git status` - shows status

`git add FILENAME` - puts a file in the staging area

`git commit -m "COMMIT MESSAGE"` - commits the staging changes to the repo

`git checkout -- .` - reverts back to the version in the repo

`git remote add origin URL` - initial setup of remote repo (e.g., github.com)

`git push -u origin master` - initial push to remote

`git push` - subsequent pushes to remote

## GCD

Greatest common divisor

The **greatest common divisor (GCD)** of two or more integers is the largest positive integer that divides the numbers without a remainder. For example, the GCD of 8 and 12 is 4. (Taken from Wikipedia.)

One algorithm to figure out the GCD of two numbers is the Euclidean algorithm. It is a pretty simple algorithm.

gcd(_a_, 0) = _a_  
gcd(_a_, _b_) = gcd(_b_, _a_ mod _b_)

Implement a `gcd` function in Python and then find the GCD of 123456 and 654321.

In [9]:
def gcd(a, b):
    if b == 0:
        return a
    
    return gcd(b, a % b)

print(gcd(654321, 123456))
print(gcd(32, 12))

3
4

# Strings

Strings are sequences of characters.

In [10]:
len("Hello class!")

12

In [11]:
len("Holle class!")

12

In [12]:
"Hello class!" == "Holle class!"

False

In [13]:
len("")

0

In [14]:
len("""Hello
class!""")

12

You can access specific elements in a sequence using square brackets

Counting starts at 0

In [15]:
greeting = "Hello class!"

In [16]:
greeting[0]

'H'

In [17]:
greeting[1]

'e'

In [18]:
greeting[11]

'!'

In [19]:
greeting[-1] # grabs the last character

'!'

In [20]:
greeting[-2] # grabs the second-to-last

's'

In [21]:
-0

0

In [22]:
greeting[-0]

'H'

In [23]:
idx = 0
while idx < len(greeting):
    print(greeting[idx])
    idx += 1

H
e
l
l
o

c
l
a
s
s
!

In [30]:
for char in greeting:
    # creates a variable called char
    # that exists after the loop ends
    print(char)

print(char)

H
e
l
l
o

c
l
a
s
s
!
!

Sequences can be **sliced**, parts of them pulled out and treated as new sequences, using square brackets

In [35]:
greeting[0:5] # up until the second number

'Hello'

In [36]:
greeting[1:5]

'ello'

In [37]:
greeting[6:11]

'class'

In [38]:
greeting[4:7]

'o c'

In [39]:
greeting[3:-1]

'lo class'

In [42]:
greeting[-3:-1]

'ss'

In [43]:
greeting[-3:]

'ss!'

If you leave out a number, then it uses either the beginning or the end

In [44]:
greeting[:-5]

'Hello c'

What happens if you leave off both?

In [45]:
greeting[:]

'Hello class!'

In [47]:
greeting[0:8:2] # a third parameter is a "step" parameter

'Hloc'

In [50]:
greeting[8:0:-1]

'alc olle'

In [51]:
# reverse a string
greeting[::-1]

'!ssalc olleH'

In [55]:
# what about 0?
greeting[::0]

ValueError: slice step cannot be zero

# Lists

Strings are sequences of **characters**

Lists are sequences of **anything**

In [56]:
ages = [35, 62, 21, 15]

In [57]:
len(ages)

4

In [58]:
ages[0]

35

In [59]:
ages[-1]

15

In [60]:
ages[1:-1]

[62, 21]

Sequences have other useful methods and functions and statements

[List of common operations for sequences](https://docs.python.org/3/library/stdtypes.html#common-sequence-operations)

In [61]:
62 in ages

True

In [62]:
65 in ages

False

In [63]:
ages + [44, 37, 38, 55]

[35, 62, 21, 15, 44, 37, 38, 55]

In [64]:
ages

[35, 62, 21, 15]

In [65]:
min(ages)

15

In [66]:
max(ages)

62

In [67]:
# lists can include anything, not just numbers

front_row = ['Andrew', 'Will', 'Mike', 'Karthik']
front_row[0]

'Andrew'

In [68]:
'Kathleen' in front_row

False

In [69]:
min(front_row)

'Andrew'

In [70]:
max(front_row)

'Will'

In [71]:
min([135, 5534, -13413, 3524, 314, 1356])

-13413

In [72]:
sum(ages)

133

In [73]:
sum(front_row)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [74]:
sum([3.4, 5.7, 9])

18.1

In [75]:
mixed = ['Bob', 3.5, 7.8, 62, 'Shelly']

In [76]:
sum(mixed)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [77]:
min(mixed)

TypeError: unorderable types: float() < str()

In [78]:
sum(mixed[1:-1])

73.3

In [79]:
front_row

['Andrew', 'Will', 'Mike', 'Karthik']

In [80]:
front_row.index('Mike')

2

In [81]:
front_row += ['Mike']
front_row

['Andrew', 'Will', 'Mike', 'Karthik', 'Mike']

In [82]:
front_row.index('Mike')

2

In [83]:
front_row.index('Kelly')

ValueError: 'Kelly' is not in list

In [84]:
front_row.count('Kelly')

0

In [85]:
front_row.count('Mike')

2

In [86]:
greeting.count('s')

2

In [87]:
greeting

'Hello class!'

In [88]:
greeting.count('z')

0

## An aside about objects

Everything we saw before today was a function in Python
(not using dots but using parentheses is a function)
Functions take arguments, can return values

Now we're seeing dots

Dots mean we're using **objects**

EVERYTHING in Python is an object, which means that it has a **value**, but it also has some set of defined **behaviors** (aka *methods*).

**methods** are like functions, but they apply to specific objects

There's some inconsistency... functions like max, sum, len, that all seem to just relate to their specific objects, but they aren't methods

In [89]:
greeting.len()

AttributeError: 'str' object has no attribute 'len'

In [90]:
len(greeting)

12

# For loops

for loops in python are for iterating over **sequences** (strings, lists, etc)

In [91]:
for student in front_row:
    print("Hello, {}! Nice to see you in class today!".format(student))

Hello, Andrew! Nice to see you in class today!
Hello, Will! Nice to see you in class today!
Hello, Mike! Nice to see you in class today!
Hello, Karthik! Nice to see you in class today!
Hello, Mike! Nice to see you in class today!

In [92]:
for number in [4, 8, 15, 16, 23, 42]:
    print("Enter {}".format(number))

Enter 4
Enter 8
Enter 15
Enter 16
Enter 23
Enter 42

In [95]:
greeting.title()

'Hello Class!'

In [96]:
sentence = "I am the very model of a Modern Major General, my"
all_letters = "abcdefghijklmnopqrstuvwxyz"

found_letters = []

for letter in sentence.lower():
    if letter in all_letters and letter not in found_letters:
        found_letters.append(letter)

print(found_letters)

['i', 'a', 'm', 't', 'h', 'e', 'v', 'r', 'y', 'o', 'd', 'l', 'f', 'n', 'j', 'g']

In [97]:
len(found_letters)

16

In [98]:
sorted(found_letters)

['a',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'l',
 'm',
 'n',
 'o',
 'r',
 't',
 'v',
 'y']

In [100]:
numbers = [1, 2, 3, 4, 5]
squares = []

for num in numbers:
    squares.append(num*num)

print(squares)

[1, 4, 9, 16, 25]

In [101]:
found_letters

['i',
 'a',
 'm',
 't',
 'h',
 'e',
 'v',
 'r',
 'y',
 'o',
 'd',
 'l',
 'f',
 'n',
 'j',
 'g']

In [102]:
sorted(found_letters)

['a',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'l',
 'm',
 'n',
 'o',
 'r',
 't',
 'v',
 'y']

In [103]:
found_letters

['i',
 'a',
 'm',
 't',
 'h',
 'e',
 'v',
 'r',
 'y',
 'o',
 'd',
 'l',
 'f',
 'n',
 'j',
 'g']

In [104]:
found_letters.sort()

In [105]:
found_letters

['a',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'l',
 'm',
 'n',
 'o',
 'r',
 't',
 'v',
 'y']

In [106]:
a = [54, 134, 62, 1, 4, 18, -3]
b = a
a.sort()
print(a)
print(b)

[-3, 1, 4, 18, 54, 62, 134]
[-3, 1, 4, 18, 54, 62, 134]

With objects in general, when you make them equal to one another they end up pointing to the same spot in memory. If you change an object using a **method**, it changes **both** objects

To get a separate copy of something, you need to explicitly make a copy of it

In [107]:
a = [54, 134, 62, 1, 4, 18, -3]
b = a[:] # makes a "shallow" copy by slicing the whole thing

a.sort()
print(a)
print(b)

[-3, 1, 4, 18, 54, 62, 134]
[54, 134, 62, 1, 4, 18, -3]

In [108]:
help([].append)

Help on built-in function append:

append(...) method of builtins.list instance
    L.append(object) -> None -- append object to end

In [109]:
help([].extend) # or just +

Help on built-in function extend:

extend(...) method of builtins.list instance
    L.extend(iterable) -> None -- extend list by appending elements from the iterable

In [110]:
a + b

[-3, 1, 4, 18, 54, 62, 134, 54, 134, 62, 1, 4, 18, -3]

In [111]:
a = a + b

In [112]:
a

[-3, 1, 4, 18, 54, 62, 134, 54, 134, 62, 1, 4, 18, -3]

# Tuples

Tuples are a lot like lists, but they are **immutable** - they can't be changed.

These are useful because it means we can pass data around without it being modified. If we pass lists, methods can be called, and lists can be modified, and we have no guarantee that they are unchanged.

In [118]:
def distance(pt1, pt2):
    adjacent = pt1[0] - pt2[0]
    opposite = pt1[1] - pt2[1]
    
    hypotenuse = (adjacent**2 + opposite**2)**0.5
    return hypotenuse

print(distance((0, 0), (5, 0)))
print(distance((0, 0), (3, 4)))
print(distance((4, 5), (1, 9)))

5.0
5.0
5.0

In [119]:
x, y = (4, 5)
print(x, y)

4 5

Because parentheses are used for multiple things in Python, if you want to ensure you have a tuple, put a comma inside the parens

In [120]:
(1+2)*(3+4)

21

In [121]:
(1)

1

In [122]:
(1,)

(1,)

# Ranges

In [123]:
range(5)

range(0, 5)

In [125]:
list(range(0, 50))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [126]:
list(range(10, 20))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [127]:
list(range(0,100,5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [129]:
# sum all the odd numbers from 0 to 1000

total = 0
for num in range(1, 1000, 2):
    total += num

print(total)

250000

In [130]:
sum(range(1,1000,2))

250000

In [131]:
print( 5, 15, sep='...' )

5...15

## String methods

There are a lot of string methods

In [133]:
dir(greeting)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [134]:
help(greeting.upper)

Help on built-in function upper:

upper(...) method of builtins.str instance
    S.upper() -> str

    Return a copy of S converted to uppercase.

In [135]:
custom_greeting = "Hello, {}. Are you ready to {} today?"

print(custom_greeting.format("Joe", "play baseball"))

Hello, Joe. Are you ready to play baseball today?

In [137]:
custom_greeting = "Hello, {0}. Are you ready to {1} today? Bye, {0}!"

print(custom_greeting.format("Joe", "play baseball"))

Hello, Joe. Are you ready to play baseball today? Bye, Joe!

[pyformat](http://pyformat.info/) is a great place to see more examples of how `format` works.

# More sorting

`sorted()` takes a sequence (something iterable), and returns a sorted version of that as a list

In [138]:
sorted('The quick brown fox jumps over the lazy dog')

[' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'T',
 'a',
 'b',
 'c',
 'd',
 'e',
 'e',
 'e',
 'f',
 'g',
 'h',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'o',
 'o',
 'o',
 'p',
 'q',
 'r',
 'r',
 's',
 't',
 'u',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [139]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(...)
    sorted(iterable, key=None, reverse=False) --> new sorted list

In [140]:
sorted([4, 1, 8, 17, -5])

[-5, 1, 4, 8, 17]

In [141]:
sorted([4, 1, 8, 17, -5], reverse=True)

[17, 8, 4, 1, -5]

What is a key?

In [142]:
a_list = ['3', 1, '15', -5]

In [143]:
sorted(a_list)

TypeError: unorderable types: int() < str()

In [144]:
int('5')

5

In [145]:
sorted(a_list, key=int)

[-5, 1, '3', '15']

In [146]:
sentence

'I am the very model of a Modern Major General, my'

In [147]:
sentence.split()

['I',
 'am',
 'the',
 'very',
 'model',
 'of',
 'a',
 'Modern',
 'Major',
 'General,',
 'my']

In [148]:
sorted(sentence.split())

['General,',
 'I',
 'Major',
 'Modern',
 'a',
 'am',
 'model',
 'my',
 'of',
 'the',
 'very']

In [151]:
sorted(sentence.split(), key=str.lower, reverse=True)

['very',
 'the',
 'of',
 'my',
 'Modern',
 'model',
 'Major',
 'I',
 'General,',
 'am',
 'a']

In [152]:
sorted(sentence.split(), key=len)

['I',
 'a',
 'am',
 'of',
 'my',
 'the',
 'very',
 'model',
 'Major',
 'Modern',
 'General,']

In [154]:
def count_as(s):
    return s.lower().count('a')

sorted(sentence.split(), key=count_as, reverse=True)

['am',
 'a',
 'Major',
 'General,',
 'I',
 'the',
 'very',
 'model',
 'of',
 'Modern',
 'my']

In [155]:
sorted(sentence.split(), key=lambda x: x.lower().count('a'), reverse=True)

['am',
 'a',
 'Major',
 'General,',
 'I',
 'the',
 'very',
 'model',
 'of',
 'Modern',
 'my']